# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.pytest_cache/

# Build

build/
dist/
*.egg-info/